@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    font-family: 'Varela Round', Helvetica, sans-serif;
  }
  img {
    border-radius: 0.375rem;
  }
  .nis-font {
    font-family: Audiowide, sans-serif;
  }
}